/* ARTICULOS EN EL CENTRO */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* BOTON ENVIAR */
input[type="submit"] {
    background-color: rgb(34, 169, 133); /* Change this to the desired color */
    color: white; /* Text color on the button */
}

