body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.abs-center {
    /* Agrega estilos según sea necesario para centrar el contenido en el medio */
}
