/* ARTICULOS EN EL CENTRO */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* BOTON ENVIAR */
input[type="submit"] {
    background-color: rgb(34, 169, 133); /* Change this to the desired color */
    color: white; /* Text color on the button */
}

/* RESPONISVE */
/* Estilos generales para pantallas grandes */
body {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos para pantallas medianas */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 90%;
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}


